.card:hover {
  background: #d2bfca;
}

.card {
  margin-bottom: 20px;
}

.album-tracks {
  font-weight: bold;
}
.logo-link:hover img {
  transform: scale(1.4);
  transition: transform 0.2s ease;
}
.small-text {
  font-size: 14px; /* Tamaño de fuente más pequeño */
}
